@charset "utf-8";
/* CSS Document */
html body.bd-homepage{
    background: none;
}

html, body {
    height: 100%;
}
body, table {
    font-size: 8pt;
    font-family: arial;
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: 8px;
}
/*2*/
element.style{
    background-position-y: -20px !important;
}
#TemplatetopspotWrap{
    margin-top: 0 !important;
    z-index: 15;
}
#TC-topspotWrap, #Co-topspotWrap, #Pr-topspotWrap, #PrOutOfStock-topspotWrap, #Se-topspotWrap, 
#Cart-topspotWrap, #Track-topspotWrap, #HomePagetopspotWrap, #Confirm-topspotWrap, 
#TemplatetopspotWrap, #HelptopspotWrap, #RegistertopspotWrap, #ReqC-topspotWrap, #Browse-topspotWrap, 
#SiteMaptopspotWrap, #SignIn-topspotWrap, #TrackSignIn-topspotWrap, #CS-Inq-topspotWrap, #RP-topspotWrap, 
#RPS-topspotWrap, #RPOA-topspotWrap, #BP-topspotWrap, #MA-topspotWrap, #AB-topspotWrap, #AA-topspotWrap, 
#PO-topspotWrap, #CE-topspotWrap, #MP-topspotWrap, 
#BA-topspotWrap, #AC-topspotWrap, #GL-topspotWrap, #PrBuild-topspotWrap, #PrBuildT-topspotWrap, #BGStopspotWrap{
    width: 980px;
    margin: -30px auto 0;
    position:relative;
}
#TemplatetopspotWrap, #MBP-SecureHeader{
    background: url(https://cdn1.1800flowers.com/wcsstore/RAPIDStorefrontAssetStore/images/ab/tab-background.gif)
    repeat-x center -46px #ffffff !important;
    width: 100% !important;
    position: relative;
    z-index: 6;
    height: auto;
}
*{
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
body{
    font-size: 11px;
    color: #000000;
    background-position-y: 1px;
    height: auto;
    overflow-y: initial !important;
}

/**/
#above-tabs-nav{
    display: block !important;
    width: 100%;
    height: 24px;
    background-color: #5e3987;

}
.displayNoneClass, .display-none{
    display: none;
}
/**/
.above-tab{
    min-width:960px;
    max-width:1420px;
    margin: 0 auto;
    padding: 0 10px;
}
/**/
.above-link{
    display: inline-block;
    height: 24px;
    margin-right: 20px;
}
/**/
.above-link a:visited{
    color: #ffffff;

}
a, a:visited{
    color: #639;
}
.above-link a{
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    height: 24px;
    font-size: 12px;
    text-decoration: none;
    line-height: 24px;
}
a{
    color: #639;
}
a{
    -moz-text-blink: none;
    -moz-text-decoration-color:-moz-use-text-color;
    -moz-text-decoration-line:underline;
    -moz-text-decoration-style:solid;
}
a:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
/**/
.link-locator a{
    padding-right: 16px;
    background: url(https://cdn1.1800flowers.com/wcsstore/RAPIDStorefrontAssetStore/images/ab/location-sprite.png)
    no-repeat 72px 1px;
}
/**/
.dropdown{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 24px;
    z-index: 99;
}
/**/
.main-link{
    background: url(https://cdn1.1800flowers.com/wcsstore/RAPIDStorefrontAssetStore/images/ab/down-triangle-icon-v2.png)
    no-repeat 29px 8px;
}
/**/
#int-drop-ab img{
    padding: 0;
    float: left;
}
#main-flag{
    width: 35%;
    margin: 5px 0 0 5px;
}
img, img a{
    border: 0;
}

/**/
#int-drop-ab ul{
    background: #ffffff;
    height: 274px;
    width: 296px;
    list-style: none;
    padding: 10px 0 0 0;
    *margin-top: 0;
    *height: 310px;
}
.dropdown-content{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -180px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    -webkit-transition:all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
/**/
element.style{
    margin-top: 5px;
}
#int-drop-ab ul li{
    width: 300px;
    margin: 0;
    padding: 0;

}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
/**/
#int-drop-ab ul li a{
    display: block;
    width: 110px;
    height: auto;
    text-align: left;
    text-decoration: none;
    margin: 0;
    padding: 7px 15px;
    float: left;
    color: #666666;
    font-size: 11px;
    margin-left: 10px;
    line-height: normal;
}
/**/
#int-drop-ab ul li a span{
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
    width: 25px;
    height: 19px;
}
#int-drop-ab span{
    margin: 5px 0 0 -10px;
    padding: 0;
    float: left;
}
.australia-drop-i{
    background:url(//cdn1.1800flowers.com/wcsstore/Flowers/images/2015/international/flag-sprites-25px-3.png) 
    -101px -47px no-repeat

}
.ireland-drop-i{
    background: url(//cdn1.1800flowers.com/wcsstore/Flowers/images/2015/international/flag-sprites-25px-3.png) 
    -159px -47px no-repeat
}
.brazil-drop-i{
    background: url(//cdn1.1800flowers.com/wcsstore/Flowers/images/2015/international/flag-sprites-25px-3.png) 
    -72px -47px no-repeat
}
.italy-drop-i{
    background:url(//cdn1.1800flowers.com/wcsstore/Flowers/images/2015/international/flag-sprites-25px-3.png) 
    -14px -82px no-repeat
}
.canada-drop-i{
    background:url(//cdn1.1800flowers.com/wcsstore/Flowers/images/2015/international/flag-sprites-25px-3.png) 
    -43px -47px no-repeat
}
.japan-drop-i{
    background:url(//cdn1.1800flowers.com/wcsstore/Flowers/images/2015/international/flag-sprites-25px-3.png) 
    -72px -13px no-repeat
}
.france-drop-i{
    
}